body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.favButton{
  background-color: rgba(136, 136, 136, 0.116);
  padding: 10px;
  border: none;
  width: 100%;
  cursor: pointer;
}

h1{
  text-align: center;
  margin: 0;
}

nav{
  display: flex;
  
  justify-content: space-between;
  padding: 0;
}
.contact{
  height:33vw;
}
.links{
  display: flex;
  flex-direction: row;
}
#imgNavbar{
  display: flex;

}


a{
  color: #000;
  text-decoration: none;
  margin: 5px;
  cursor: pointer;
}
a:hover{
  color: rgb(136, 136, 136);
} 

footer {
  display: flex;
  padding: 2rem;
  position: relative;
  bottom: 0;
  width: 98;
  height: 40px;
  justify-content: space-between;
  
}
.volver{
  background-color: red;
  display: flex;
  justify-content: center;
  width: 90vw;
}
.ultimo{display: flex;
  justify-content: space-between;
  text-align: center;

}
#footerText{
display: flex;

}
.footerImages{
  display: flex;
}
footer > img{
  width: 200px;
  margin: 0;
}
footer > p{
  margin: 0;
  padding-top: 0.7rem;
}
h2{
  margin: 0;
}

form{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 300px;
  height: 100px;
  margin: 0 auto;
}

.card{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  width: 200px;
  padding: 0.5rem 0.5rem 0 0.5rem;
  border: 0.5px solid rgb(136, 136, 136);
}

.card:hover{
  border: 0.5px solid rgb(206, 217, 142);
}

.card-grid{
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
  width: 100vw;
  height: auto;
  flex-wrap: wrap;
  margin: 0 auto;
}

table {
 border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    display: table;
    border: 1px solid #ccc;

}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
.btnNavBar{
  height: 30px;
  display: flex;
  margin: 20px;
}
.dark{
  background-color: #12121296;
  color: white;
}
.dark > a {
  color: white;
}
.icon{
  width: 25px;
    height: 25px;
    filter: invert(1);
    padding: 0 15px;
}